.header {
	background-color: $blackColor;
	padding-top: rem(10);
	padding-bottom: rem(11);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	// .header__container
	&__container {
		display: grid;
		grid-template-columns: rem(390) 1fr rem(390);
		align-items: center;
	}
	// .header__logo
	&__logo {
	}
	// .header__nav-search
	&__nav-search {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(7);
	}
	// .header__actions
	&__actions {
	}
}
.nav-search {
	// .nav-search__menu
	&__menu {
	}
	// .nav-search__search
	&__search {
		@extend %menu-link;
		display: flex;
		align-items: center;
		gap: rem(8);
		&::before {
			width: rem(16);
			font-size: rem(16);
			flex: 0 0 rem(16);
			height: rem(16);
		}
	}
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		column-gap: rem(7);
		row-gap: rem(0);
		flex-wrap: wrap;
	}
	// .menu__item
	&__item {
		@media (any-hover: hover) {
			&:hover {
				.sub-menu {
					opacity: 1;
					visibility: visible;
					transform: translate(0px, rem(-15));
					pointer-events: auto;
				}
				.menu__link {
					&::after {
						width: 100%;
					}
				}
			}
		}
	}
	// .menu__link
	&__link {
		@extend %menu-link;
	}
	// .menu__sub
	&__sub {
		position: absolute;
		top: 100%;
		padding-top: rem(15);
		left: 0;
		width: 100%;
		opacity: 0;
		transition: all 0.3s;
		visibility: hidden;
		pointer-events: none;
	}
}
.icon-menu {
	display: none;
}
.sub-menu {
	// .sub-menu__wrapper
	&__wrapper {
		box-shadow: rem(10) rem(10) rem(24) rgba(0, 0, 0, 0.25);
		padding-left: rem(42);
		padding-right: rem(42);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: rem(100);
		row-gap: rem(20);
		min-height: rem(308);
		position: relative;
		background-color: #fff;
	}
	// .sub-menu__column
	&__column {
		padding-top: rem(38);
		padding-bottom: rem(38);
		position: relative;
		z-index: 5;
	}
	// .sub-menu__title
	&__title {
		font-family: "Oswald";
		line-height: math.div(27, 18);
		letter-spacing: rem(0.5);
		text-transform: uppercase;
		font-weight: 500;
		color: $blackColor;
		&::after {
			content: "";
			display: block;
			background-color: $blackColor;
			height: rem(2);
		}
		&:not(:last-child) {
			margin-bottom: rem(18);
		}
	}
	// .sub-menu__list
	&__list {
	}
	// .sub-menu__item
	&__item {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .sub-menu__link
	&__link {
		font-size: rem(14);
		line-height: math.div(20, 14);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .sub-menu__image
	&__image {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		img {
			height: 100%;
			object-fit: contain;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20%;
			height: 100%;
			background: linear-gradient(90deg, #ffffff 0%, #ffffff 41.67%, rgba(255, 255, 255, 0) 100%);
		}
	}
}
.actions-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: rem(30);
	// .actions-header__auth
	&__auth {
	}
	// .actions-header__fav-cart
	&__fav-cart {
		display: flex;
		align-items: center;
		color: #fff;
		gap: rem(15);
	}
	// .actions-header__favorite
	&__favorite {
		font-size: rem(21);
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}
	}
	// .actions-header__cart
	&__cart {
	}
}
.auth-header {
	display: flex;
	align-items: center;
	gap: rem(12);
	flex-wrap: wrap;
	// .auth-header__item
	&__item {
	}
	// .auth-header__link
	&__link {
		@extend %menu-link;
		padding-left: 0;
		padding-right: 0;
	}
}
.cart-header {
	display: flex;
	align-items: center;
	gap: rem(11);
	@media (any-hover: hover) {
		&:hover {
			&::before {
				color: $redColor;
			}
		}
	}
	&::before {
		width: rem(21);
		flex: 0 0 rem(21);
		font-size: rem(21);
		transition: color 0.3s;
	}
	// .cart-header__text
	&__text {
		line-height: math.div(14, 12);
	}
	// .cart-header__label
	&__label {
		font-size: rem(12);
		font-weight: 500;
	}
	// .cart-header__total
	&__total {
		font-weight: 700;
		font-size: rem(14);
	}
}
